*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --seared-grey: #cccccc;
    --white: #fff;
    --black: #000;
}


html,
body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

/* Utilities Section */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-sm {
    max-width: 1000px;
}

/* Hero Section */
.hero {
    background-color: var(--white);
    min-height: 100vh;
    padding: 11.5rem 2rem 8rem;
    overflow-x: hidden;
}

.hero-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #000;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: 3rem;
    
}

.hero-img img {
    filter: drop-shadow(5px 5px 5px #222222ab);
}

.hero-detail {
    font-size: 1rem;
    margin: 1rem 0 2.5rem;
}

.hero-btn,
.our-work-btn {
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: 2px solid var(--seared-grey);
    border-radius: 5px;
    color: var(--black);
    font-weight: 500;
    text-transform: capitalize;
}


/* Navbar Section */

.navbar {
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color .3s ease-in-out;
}

.navbar.navbar-scroll {
    background-color: #fff;
}

.navbar-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    max-width: 40px;
}



.main-menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-menu-list li a,
.mobile-menu-list li a {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--black);
    transition: all .3s ease-in-out;
}

.main-menu-list li a:hover,
.mobile-menu-list li a:hover {
    color: var(--moonstone);
}


/* Mobile Menu */

.mobile-menu {
    display: none;
}

.navbar .mobile-menu-toggle {
    cursor: pointer;
}

.navbar .mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    backdrop-filter: blur(20px);
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-top: 1px solid #495057a1;
    transform: translateX(150%);
    transition: all .3s ease-in-out;
}

.navbar .mobile-menu-items.active {
    transform: translateX(0);
}

.navbar .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.4rem;
}

/* Simple Section */

.simple {
    padding: 1rem 0 8rem;
}

.simple-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.simple-content {
    text-align: center;
}

.simple-heading {
    color: var(--black);
    font-size: 2rem;
    font-weight: 300;
}

.simple-detail {
    color: var(--black);
    font-size: 1.3rem;
    font-weight: 300;
}

.simple-img {
    width: 50px;
}

/* Our Work Section */

.our-work {
    padding: 1rem 0 8rem;
}

.our-work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.our-work-heading h2 {
    color: var(--black);
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

.our-work-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

/* Partner Section */

.partner {
    padding: 1rem 0 8rem;
}

.partner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partner-heading h2 {
    color: var(--black);
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

.partner-box {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}

.partner-box .box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-box .box img {
    width: 50%;
}

/* Footer Section */

.footer {
    background-color: var(--seared-grey);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 2rem;
    
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-social-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer-social-list li a {
    color: var(--black);
}


/* Media Queries */

@media(max-width: 1200px) {

}

@media(max-width: 992px) {

}

@media(max-width: 768px) {

    .main-menu-items {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .hero-grid {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        row-gap: 3rem;
    }

    .partner-box {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }

}

@media(max-width: 576px) {
    .footer-content {
        flex-direction: column;
        gap: 2rem;
    }
}

@media(max-width: 424px) {
    .our-work-box {
        grid-template-columns: 1fr;
    }

    .partner-box {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
}





